.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 64px;
    font-weight: 100;
  }

  .search {
    padding-bottom: 25px;
    
    input {
      width: 360px;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #BBB;
    }
  }
}
